@import "tailwindcss";

@import "./theme.css";
@import "./typography.css";
@import "./utilities.css";
@import "./layout.css";

@layer components {
  .footer-border {
    border-top: 10px solid #8b7fa8;
  }

  .footer-separator {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }

  .nav-items-gap {
    gap: 25px;
  }

  /* global.css */
  .nav-scrolled {
    @apply bg-ink! text-surface! rounded-xl;
  }
}
