@import "tailwindcss";

@import "./theme.css";
@import "./typography.css";
@import "./utilities.css";
@import "./layout.css";

@layer components {
  .nav-bold {
    @apply font-semibold;
    font-family: var(--font-display);
    font-size: var(--text-nav);
    /* color: var(--color-ink); */
  }

  .nav-medium {
    @apply font-normal;
    font-family: var(--font-display);
    font-size: var(--text-nav);
    /* color: var(--color-ink); */
  }

  .footer-bold {
    @apply font-bold;
    font-family: var(--font-display);
    font-size: var(--text-footer);
    color: var(--color-ink);
  }

  .footer-medium {
    @apply font-medium;
    font-family: var(--font-display);
    font-size: var(--text-footer);
    color: var(--color-ink);
  }

  .footer-border {
    border-top: 10px solid #8b7fa8;
  }

  .footer-separator {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }

  .nav-items-gap {
    gap: 25px;
  }

  /* global.css */
  .nav-scrolled {
    @apply bg-ink! text-surface! rounded-xl;
  }
}
