@import "tailwindcss";

@theme {
  /* Colors */
  --color-surface: #131121;
  /* #2e2e2e | #171717 */
  --color-ink: #ebebe6;
  /* #e5e7eb */
  /* #ebebe6 */

  /* Layout */
  --spacing-gutter-x: 96px;
  --spacing-gutter-y: 30px;

  /* Font */
  --font-display: "EB Garamond", serif;

  /* Font scale */
  --text-nav: 22px;
  --text-footer: 18px;
  --text-body: 18px;
  --text-anchor: 24px;
  --text-hero: 64px;
}

@layer components {
  .nav-grid {
    @apply grid grid-cols-12 gap-x-6;
    padding: 0 var(--spacing-gutter-x) 0 var(--spacing-gutter-x);
  }

  .page-container-grid {
    @apply grid w-full grid-cols-12 gap-x-6;
    /* @apply grid-rows-12; */
    height: 100vh;
    width: 100%;
    padding: 0 var(--spacing-gutter-x) 0 var(--spacing-gutter-x);
    /* border: 1px dotted lightpink; */
  }

  .page-container {
    @apply py-[128px];
    height: 1024px;
    width: 100%;
    /* padding: 0 var(--spacing-gutter-x) 0 var(--spacing-gutter-x); */
    /* border: 1px dotted lightpink; */
  }

  .footer-container {
    @apply grid w-full grid-cols-12 gap-x-6;
    padding: 0 var(--spacing-gutter-x) 0 var(--spacing-gutter-x);
    height: 340px;
  }

  .hero-title {
    @apply font-normal;
    font-family: var(--font-display);
    font-size: var(--text-hero);
    color: var(--color-ink);
  }

  .body-text-regular {
    @apply font-normal;
    font-family: var(--font-display);
    font-size: var(--text-body);
    color: var(--color-ink);
  }

  .anchor {
    @apply font-semibold;
    font-family: var(--font-display);
    font-size: var(--text-anchor);
    color: var(--color-ink);
  }

  .nav-bold {
    @apply font-semibold;
    font-family: var(--font-display);
    font-size: var(--text-nav);
    /* color: var(--color-ink); */
  }

  .nav-medium {
    @apply font-normal;
    font-family: var(--font-display);
    font-size: var(--text-nav);
    /* color: var(--color-ink); */
  }

  .footer-bold {
    @apply font-bold;
    font-family: var(--font-display);
    font-size: var(--text-footer);
    color: var(--color-ink);
  }

  .footer-medium {
    @apply font-medium;
    font-family: var(--font-display);
    font-size: var(--text-footer);
    color: var(--color-ink);
  }

  .footer-border {
    border-top: 10px solid #8b7fa8;
  }

  .footer-separator {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }

  .nav-items-gap {
    gap: 25px;
  }

  .rounded-t-8xl {
    border-top-left-radius: calc(var(--radius-4xl) * 2);
    border-top-right-radius: calc(var(--radius-4xl) * 2);
  }

  /* global.css */
  .nav-scrolled {
    @apply bg-ink! text-surface! rounded-xl;
  }
}
